
*{
 margin: 0;
 box-sizing: border-box;
}




body{

 grid-template-rows: 0.2fr 1fr 0.2fr;
 grid-template-columns: 0.2fr 0.6fr 0.2fr;
 grid-template-areas: "header header header"
                      "SidebarLeft main SidebarRight"
                      "footer footer footer";
 /*min-width: 100dvh;*/

}

.container {
 display: grid;
row-gap: 10px;
 /*grid-template-rows: 20% 60% 20%;*/
 /*min-height: 100vh;*/
 /*min-width: 100dvh;*/
 /*grid-template-areas: "header header header"*/
 /*                     "SidebarLeft main SidebarRight"*/
 /*                     "footer footer footer";*/
/*height: 100vw;*/
/* width: 100vw;*/

 /*grid-template-rows: 0.2fr 1fr 0.2fr;*/
 /*grid-template-columns: 0.2fr 0.6fr 0.2fr;*/

}
/*.section{*/
/*padding-left: 10px;*/
/*column-gap: 10px;*/
/*}*/







.topnav{
display: flex;
 background-color: blueviolet;
 overflow: hidden;
 height: 60px;

}

.topnav a{
 float: right;
 color:white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;

}

.topnav a:hover{
 background-color: #ce50ea;
 color: white;

}

main{
 display: grid;
color: white;
 background-color: #ce50ea;
 grid-template-columns: 15% 65% 20%;




}

.SidebarLeft, .SidebarRight{
 background-color: blueviolet;
 color: white;
 padding-left: 10px;

}

footer{
 display: flex;
background-color: blueviolet;
color: white;
 justify-content: space-around;
}